# ───────── API ─────────
fastapi==0.111.0
uvicorn[standard]==0.29.0
websockets==12.0
python-multipart==0.0.9

# ───────── CORE ─────────
numpy==1.26.4
pydantic[email]==2.7.1
pydantic-settings==2.3.0
python-dotenv==1.0.1

# ───────── UTIL ─────────
loguru==0.7.2
psutil==5.9.8
aiofiles==23.2.1

# ───────── DATABASE ─────────
sqlalchemy==2.0.30

# ───────── SECURITY ─────────
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4